<div class="content">
    <h1>Import playlist</h1>

    <div *ngIf="!importInProgress">
        <!-- Playlist import mode selection -->
        <a  class="st-button"
            [ngClass]="{ 'st-button-unselected': !fromSavedListActive }"
            (click)="showSavedPlaylistsForm()">
            From saved lists
        </a>

        <a  class="st-button"
            [ngClass]="{ 'st-button-unselected': !fromURLActive }"
            (click)="showURLForm()">
            From URL
        </a>

        <!-- Playlist dropdown selection -->
        <div class="savedPlaylistContainer" *ngIf="fromSavedListActive">
            <p>Select a playlist to import below...</p>
            <app-st-select
                [options]="selectPlaylists"
                (selectedValue)="selectedPlaylistChange($event)"></app-st-select>
        </div>

        <!-- Playlist URL selection -->
        <div *ngIf="fromURLActive">
            <div class="urlContainer" *ngIf="fromURLActive">
                <p>Type the playlist URL below...</p>
                <input  type="text"
                        class="st-input-text"
                        placeholder="https://open.spotify.com/playlist/2SRY5DSGSX3ESDCD4sali8B"
                        [(ngModel)]="playlistURL"
                        (keyup)="onURLChange($event)"/>
            </div>
            <a class="st-button" (click)="getPlaylistByURL()">Get playlist</a>
        </div>

        <!-- Error message (URL Import) -->
        <div class="errorMessage" *ngIf="importErrorMessage">
            <h1>Error</h1>
            <h2>{{ importErrorMessage }}</h2>
            <div class="infos">
                <p>Please check if...</p>
                <ul>
                    <li>the link target a playlist</li>
                    <li>the link is correct</li>
                    <li>the playlist is public</li>
                </ul>
            </div>
        </div>

        <!-- Selected playlist (both components) -->
        <div *ngIf="selectedPlaylist">
            <div class="playlistInfo">
                <app-st-playlist-card [values]="selectedPlaylist"></app-st-playlist-card>
            </div>

            <a class="st-button" (click)="importPlaylist()">Import</a>
        </div>
    </div>

    <!-- Import in progress -->
    <div *ngIf="importInProgress">

        <div class="playlistInfo">
            <app-st-playlist-card [values]="selectedPlaylist"></app-st-playlist-card>
        </div>

        <h2 *ngIf="!importDone">Import in progress...</h2>

        <div *ngIf="importDone">
            <h2>Import finished!</h2>
            <a class="st-button" [href]="sanitize(newPlaylist.URI)">Open playlist</a>
        </div>
    </div>
</div>
