a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

.app-logo {
    height: 50px;
}

.navbar, .logo, .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-height: 100px;
}

.navbar {
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
}

h1 {
    font-weight: 100;
}
