<div class="content">
    <h1>Remove duplicates songs</h1>
    <p>Select one of your playlist below...</p>

    <app-st-select
        [options]="selectPlaylists"
        (selectedValue)="selectedPlaylistChange($event)"
    ></app-st-select>

    <!-- Selected playlist -->
    <div *ngIf="selectedPlaylist">
        <div class="playlistInfo">
            <app-st-playlist-card [values]="selectedPlaylist"></app-st-playlist-card>
        </div>

        <a class="st-button" (click)="importPlaylist()">Import</a>
    </div>

    {{ debug }}
</div>
