/* You can add global styles to this file, and also import other style files */
@import 'app/scss/const.scss';
@import 'app/scss/components/st-button.scss';
@import 'app/scss/components/st-select.scss';

body {
    background-color: $black;
    font-family: $font;
    color: $white;
    // font-size: 62.5%;
    // height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 6rem;

    // Prefixes from: https://stackoverflow.com/a/4407335/2455658
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select:   none; /* Safari */
    -khtml-user-select:    none; /* Konqueror HTML */
    -moz-user-select:      none; /* Old versions of Firefox */
    -ms-user-select:       none; /* Internet Explorer/Edge */
    user-select:           none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
