/* You can add global styles to this file, and also import other style files */
@import 'app/scss/const.scss';
@import 'app/scss/components/button.scss';

body {
    background-color: $black;
    font-family: $font;
    color: $white;
    // font-size: 62.5%;
    // height: 100vh;
    margin: 0;
    padding: 0;
}
